<div class="tray tray-center">
  <div class="mw700 center-block">

    <div class="admin-form theme-primary">
      <div class="panel heading-border panel-primary">

        <div class="panel-heading">
          <span class="panel-title"><i class="fa fa-pencil-square"></i>Создать Ученика</span>
        </div>

        <%= form_for(:customer, url: admin_customer_index_path, id: "form-ui") do |f| %>
          <div class="panel-body bg-light">
          
            <div class="section-divider mb40"><span>Основная информация</span></div>

            <div class="row">
              <div class="col-md-12">
                <div class="section">
                  <%= f.label( :last_name, "Фамилия", class: "field-label" ) %>
                  <%= f.text_field( :last_name, autocomplete: "off", class: "gui-input" ) %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="section">
                  <%= f.label( :first_name, "Имя", class: "field-label" ) %>
                  <%= f.text_field( :first_name, autocomplete: "off", class: "gui-input" ) %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="section">
                  <%= f.label( :middle_name, "Отчество", class: "field-label" ) %>
                  <%= f.text_field( :middle_name, autocomplete: "off", class: "gui-input" ) %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="section">
                  <%= f.label( :birthday, "День рождения", class: "field-label" ) %>
                  <%= f.label( :birthday, class: "field prepend-icon" ) do %>
                    <%= f.text_field( :birthday, maxlength: 10, autocomplete: "off", placeholder: "11/11/1111", class: "gui-input form-control date" ) %>
                    <%= f.label( :birthday, class: "field-icon" ) do %>
                      <% raw('<i class="fa fa-calendar"></i>') %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="section row">
              <div class="col-md-6">
                <div class="section mb15">
                  <%= f.label( :gender, "Пол", class: "field-label" ) %>
                  <div class="option-group field">
                    <%= f.label( nil, nil, for: nil, class: "option option-primary" ) do %>
                      <%= f.radio_button( :gender, "m" ) %>
                      <span class="radio"></span> мужчина
                    <% end %>
                    <%= f.label( nil, nil, for: nil, class: "option option-primary" ) do %>
                      <%= f.radio_button( :gender, "w" ) %>
                      <span class="radio"></span> женщина
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

            <div class="section-divider mb40"><span>Контакты</span></div>

            <div class="row">
              <div class="col-md-6">
                <div class="section">

                  <%= f.label( :email, "Email", class: "field-label" ) %>
                  <%= f.label( :email, class: "field prepend-icon" ) do %>
                    <%= f.email_field( :email, autocomplete: "off", class: "gui-input" ) %>
                    <%= f.label( :email, class: "field-icon" ) do %>
                      <% raw('<i class="fa fa-envelope"></i>') %>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="section">
                  <%= f.label( :phone_mobile, "Телефон (мобильный)", class: "field-label" ) %>
                  <%= f.label( :phone_mobile, class: "field prepend-icon" ) do %>
                    <%= f.telephone_field( :phone_mobile, maxlength: 10, autocomplete: "off", placeholder: "(999) 999-9999", class: "gui-input phone" ) %>
                    <%= f.label( :phone_mobile, class: "field-icon" ) do %>
                      <% raw('<i class="fa fa-phone"></i>') %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="section-divider mb40"><span>Дополнительная информация</span></div>

            <div class="row">
              <div class="section">
                <%= f.label( :description, class: "field prepend-icon" ) do %>
                  <%= f.text_area( :description, autocomplete: "off", class: "gui-textarea br-light bg-light" ) %>
                  <%= f.label( :description, class: "field-icon" ) do %>
                    <% raw('<i class="fa fa-edit"></i>') %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="panel-footer">
            <%= f.submit "Сохранить", class: "button btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>