<!DOCTYPE html>
<html lang="ru">
  <head>
    <!-- Site Title-->
    <title>Админка</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <!-- Stylesheets-->
    <%= stylesheet_link_tag 'application' %>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:300,400,600,700%7CMontserrat:400,700">
    
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <%= javascript_include_tag 'html5shiv' %>
    <![endif]-->
  </head>
  <body class="admin-elements-page">

    <!-- Start: Main-->
    <div id="main">

      <%= render 'admin/navigation' %>
      <%= render 'admin/sidebar' %>

      <!-- Start: Content-Wrapper-->
      <section id="content_wrapper">
        
        <%= render 'admin/topbar' %>
        <%#= render 'admin/header' %>

        <!-- Begin: Content-->
        <section id="content" class="table-layout animated fadeIn">
          <%= yield %>
        </section>

        <%#= render 'admin/footer' %>

      </section>
    </div>

    <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>

  </body>
</html>